page-modal {
    .card{
        border-radius: 4px;
        margin: auto;
        width: calc(100% - 60px);
        max-width: 400px;
        display: contents !important;
        
    }   
    .label-ios {
        margin: 0 0 0 0; 
    }

    .item-button {
        padding: 0 0.5em;
        height: 30px !important;
        width: 133px;
        font-size: 1.3rem;
    }

    .text-input{
        font-size: 1.8em;
        margin-bottom: 3px;
    }

    .button-small{
        height: 1.3em;
        font-size: 1.1rem;
        width: 7em;
    /* padding: 0 0.9em; */
    }
}
