<ion-header>
  <ion-toolbar>
    <ion-title>
      {{newsTitle | date: 'EEEE, dd MMM' }}
    </ion-title>
    <button ion-button clear icon-only (click)="logout()" class="logout">
      <ion-icon name="exit" class="iconImportant"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content padding class="content-background">

  <div class="button-background">
    <ion-row>
      <ion-col col-10 class="grid">
        <button ion-button color="light" class="button-special">
          <ion-input type="text" placeholder="+add a new task"></ion-input>
        </button>
      </ion-col>
      <ion-col col-2 class="grid">
        <button ion-button clear float-right item-end (click)="openModal()">
          <ion-icon name="add-circle" class="iconImportant"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </div>

  <ion-list>

    <ion-item-sliding *ngFor="let task of tasks; let i=index" class="list-layout">
      <ion-item >
        
        <ion-icon item-start [name]="task.done ? 'checkmark-circle-outline' : 'radio-button-off'"
          (click)="markAsDone(task)" [color]="task.color">
        </ion-icon>
        
        <div (click)="editTask(task, i)" [ngClass]="(task.done)? 'my-class1' : 'my-class2'">
          {{ task.description }}
        </div>          
      </ion-item>
      
      <ion-item *ngIf="!tasks.length">
        <ion-note>
          Lista vazia
        </ion-note>
      </ion-item>

      <ion-item-options>
        <button ion-button icon-only (click)="editTask(task, i)" class="slide">
          <ion-icon name="create" class="iconImportant"></ion-icon>
        </button>
        <button ion-button icon-only (click)="deleteTask(i)" class="slide">
          <ion-icon name="trash" class="iconImportant"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>


</ion-content>